$primary: #4056A1;
$primary-light: #C5CBE3;
$primary-dark: #cccccc;

$secondary: #D79922;
$secondary-light: #EFE2BA;
$secondary-dark: #011120;

$on-primary: #000;
$on-primary-light: #A1A1A1;
$on-secondary: #fff;

$highlight: #F13C20;